---
import type About from '../../interfaces/about'
import Layout from '../../layouts/Layout.astro'
import fetchApi from '../../lib/strapi'
import { Markdown } from '@astropub/md'

const about = await fetchApi<About>({
  endpoint: 'about',
})
---

<Layout
  title='About'
  description='About'
  og_title='About'
  og_description='About'
  og_type='about'
>
  <article class='prose mx-auto flex w-full max-w-prose flex-col gap-4'>
    <h1 class='mb-0'>About</h1>
    <div class='divider m-0'></div>
    <Markdown of={about.content || ''} />
  </article>
</Layout>
