---
import Layout from '../../layouts/Layout.astro'
import PostBox from '../../components/PostBox.astro'
import * as qs from 'qs'
import fetchApi from '../../lib/strapi'
import type Post from '../../interfaces/post'

const postsQs = {
  populate: {
    cover: true,
  },
  sort: ['publishedAt:desc'],
  pagination: {
    page: 1,
    pageSize: 20,
  },
}

const posts = await fetchApi<Post[]>({
  endpoint: 'posts',
  query: qs.stringify(postsQs),
})
---

<Layout og_type='website'>
  <div>
    {
      posts.map((post) => (
        <>
          <div class='divider my-2' />
          <PostBox
            title={post.title || ''}
            publishedAt={post.publishedAt}
            description={post.description}
            slug={post.slug || ''}
          />
        </>
      ))
    }
  </div>
</Layout>
